body{margin:0; padding:0;font-family:微軟正黑體}
a{text-decoration:none; color:#000;}
#page{max-width:788px; margin:0 auto;}
.nav{margin:40px 0px; overflow:hidden;}
.nav ul, .nav li{margin:0; padding:0; list-style-type:none;}
.nav li{float:left; font-size:48px; width:25%; height:150px; text-align:center;}
.nav li a{ border:4px solid #000; max-width:140px; max-height:140px; display:block; margin:0 auto; transition:all .3s ease-in-out;}
.nav li a:hover{animation: bomb 1s ease 0s 1 normal;}
.page3{clear:both;}
.box{margin-top:40px; font-size:20px}
.box .title{text-align:center; font-weight:bold; font-size:50px;}
.box span{font-weight:bold; font-size:20px;}
img.photoimg{float:right;}
.banner img{overflow:hidden; width:100%; height:auto;}
@keyframes bomb {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.box a:hover{animation: bomb 1s ease 0s 1 normal;}
.about{text-align:center; font-weight:bold;}
.about ul{list-style-type:none; display:inline-block; vertical-align:top; margin:0; padding:0;}
.about li{text-align:left; margin-bottom:10px;}
.about li img{
	vertical-align: middle;
	text-align: justify;
}

@media screen and (max-width: 600px) {
	.nav li a{border-width:2px; background:#000; color:#fff; }
}
@media screen and (max-device-width: 400px){
.nav li{float:left; font-size:40px; width:25%; height:150px; text-align:center;}
.nav li a{ border:4px solid #000; max-width:130px; max-height:150px; display:block; margin:0 auto; transition:all .3s ease-in-out;}
	.about li{font-size:15px;}
	.content img{width:160px;height:auto}
}
