body{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	vertical-align: baseline;
	background-image: url(http://i.imgur.com/j6qANGU.jpg); 
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
		font-family: FontAwesome;
}
#herder{
		padding: 8em 0 0em 0;
		}
#nav{
	position: fixed;
	background-color: #fff;
	font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
	color:#000;
	overflow:hidden;
	margin:0px;
	top:0;
	width:100%;
				}
#nav ul, #nav li{margin:0; padding:0; list-style-type:none; letter-spacing: 3px;}
#nav li{float:right; font-size:27px; width:150px; height:auto; }
#nav li a:hover{animation: bomb 1s ease;}
#content{
	background-color: #FFF;
	}
@media screen and (max-width: 1024px) {
	#content img{overflow:hidden; width:100%; height:auto;}
			}	
.inner img{width:50%;height:50%;}
.logo {		
			float:left;
			display: inline-block;
			font-weight: 400;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 12px;
			padding: 0px 800px 0px 0px;
		}

@keyframes bomb {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
  }
a{color:#000; text-decoration:none;}
#nav ul li{ float:none; display:inline-block;}
#nav ul{text-align:center;}
.social {		
			float:left;
			display: inline-block;
			font-weight: 400;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 12px;
			padding: 0px 800px 0px 0px;
		}
